{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% if status == 'internetUsers' %}
    {% set name = 'providers' %}
    {% set type = 'prestataire' %}
{% endif %}
{% if status == 'providers' %}
    {% set name = 'internetUsers' %}
    {% set type = 'utilisateur' %}
{% endif %}
<div class="register">
    <div class="register__container">
        <div class="register__text">
            <h2>Créer votre identifiant WorkSpace comme {{ type }}</h2>
            <p>
                Vous avez déjà un identifiant Work Space ?
            </p>
            <a href="{{ path('app_login') }}">Connectez-vous ici ></a>
            <a href="{{ path('app_register', {status: name}) }}">Créer votre identifiant comme {{ type }} ></a>
        </div>
        <form action="{{ path('app_register', {status: status}) }}" method="post" class="register__form">
            {{ form_errors(registrationForm) }}
            {{ form_errors(utilisateurForm) }}
            {{ form_widget(utilisateurForm.firstName, {'attr': {'placeholder': 'Entrez votre nom'}}) }}
            {{ form_errors(utilisateurForm.firstName) }}
            {{ form_widget(utilisateurForm.lastName, {'attr': {'placeholder': 'Entrez votre prénom'}}) }}
            {{ form_errors(utilisateurForm.lastName) }}
            {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Entrez votre email'}}) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms, {'label': 'J’accepte les termes d’utilisation', 'attr': {'class': 'agreeTerms'}, 'row_attr': {'class': 'my-agreeTerms'}}) }}
            {{ form_widget(utilisateurForm._token) }}
            {{ form_widget(registrationForm._token) }}
            {{ form_widget(registrationForm.submit) }}
        </form>
    </div>
</div>

{% endblock %}
