{% if app.user and app.user.providers.providerPhoto is defined and app.user and app.user.providers.providerPhoto is not null %}
    {% set provider_image = app.user.providers.providerPhoto.name ? app.user.providers.providerPhoto.name %}
{% endif %}

{% if app.user.internetUsers.images is defined and app.user.internetUsers.images is not null %}
    {% set internetUser_image = app.user.internetUsers.images.name ? app.user.internetUsers.images.name %}
{% endif %}

{% if app.user.internetUsers is defined and app.user.internetUsers is not null %}
    {% set id = app.user.internetUsers.id %}
{% endif %}
{% if app.user.providers is defined and app.user.providers is not null %}
    {% set id = app.user.providers.id %}
{% endif %}
{% if app.user %}
    <div class="profile-button-container">
            {% if provider_image is defined %}
                <div class="avatar-container">
                    <img src="{{ asset('assets/uploads/providers/' ~ provider_image) }}" alt="">
                </div>
            {% elseif internetUser_image is defined %}
                <div class="avatar-container">
                    <img src="{{ asset('assets/uploads/InternetUsers/' ~ internetUser_image) }}" alt="">
                </div>
            {% else %}
                <span>
                    {{ app.user.userType == 'InternetUsers' ? app.user.internetUsers|slice(0, 1)|upper : app.user.providers|slice(0, 1)|upper }}
                </span>
            {% endif %}
    </div>
    <div class="profile-dropdown" id="profile-dropdown">
        <ul class="profile-dropdown-menu">
            <li class="profile-dropdown-item">
                <a href="#">
                    <div class="profile-dropdown-item-icon">
                        <div>
                        {% if name_image is defined %}
                            <img src="{{ asset('assets/uploads/providers/' ~ name_image) }}" alt="">
                        {% else %}
                            <span>
                                {{ app.user.userType == 'InternetUsers' ? app.user.internetUsers|slice(0, 1)|upper : app.user.providers|slice(0, 1)|upper }}
                            </span>
                        {% endif %}
                        </div>
                    </div>
                    <div class="profile-dropdown-item-link">
                        <p>{{ app.user.internetUsers ? app.user.internetUsers : app.user.providers }}</p>
                        <p>{{ app.user.email }}</p>
                    </div>
                </a>
            </li>
            <li class="profile-dropdown-item">
                <div class="profile-dropdown-item-link-profile">
                    <a href="{{ path('app_parameter_user_info', {id: id}) }}">Gérer votre compte</a>
                </div>
            </li>
            <li class="profile-dropdown-item">
                <a href="{{ path('app_newsletter') }}">
                    <div class="profile-dropdown-item-icon">
                        {{ include('svg/newsletter.html.twig') }}
                    </div>
                    <div class="profile-dropdown-item-link">
                        newsletter
                    </div>
                </a>
            </li>
            <li class="profile-dropdown-item">
                <a href="#">
                    <div class="profile-dropdown-item-icon">
                        {{ include('svg/contacter.html.twig') }}
                    </div>
                    <div class="profile-dropdown-item-link">
                        Nous contacter
                    </div>
                </a>
            </li>
            <li class="profile-dropdown-item">
                <a href="{{ path('app_logout') }}">
                    <div class="profile-dropdown-item-icon">
                        {{ include('svg/logout.html.twig') }}
                    </div>
                    <div class="profile-dropdown-item-link">
                        Se déconnecter
                    </div>
                </a>
            </li>
        </ul>
        <div class="profile-dropdown-footer">
            <a href="#">Règles de confidentialité</a>
            <span>&nbsp;•&nbsp;</span>
            <a href="#">Conditions d'utilisation</a>
        </div>
    </div>
{% else %}
    <div class="profile-button-container">
        {{ include('svg/profile.html.twig') }}
    </div>
{% endif %}