{% set name_image = false %}
{% if app.user.providers.providerPhoto is defined and app.user.providers.providerPhoto is not null %}
    {% set name_image = app.user.providers.providerPhoto.name ? app.user.providers.providerPhoto.name %}
{% endif %}
{% if app.user.internetUsers.providerPhoto is defined and app.user.internetUsers.providerPhoto is not null %}
    {% set name_image = app.user.internetUsers.providerPhoto.name ? app.user.internetUsers.providerPhoto.name %}
{% endif %}

{% if app.user.internetUsers is defined and app.user.internetUsers is not null %}
    {% set id = app.user.internetUsers.id %}
    {% set fichier = 'InternetUsers/' %}
{% endif %}
{% if app.user.providers is defined and app.user.providers is not null %}
    {% set id = app.user.providers.id %}
    {% set fichier = 'providers/' %}
{% endif %}

{% if app.user %}
    <div class="profile-button-container">
        {% if name_image %}
        <div class="avatar-container">
            <img src="{{ asset('assets/uploads/' ~ fichier ~ name_image) }}" alt="">
        </div>
        {% else %}
        <span>
            {{ app.user.userType == 'InternetUsers' ? app.user.internetUsers|slice(0, 1)|upper : app.user.providers|slice(0, 1)|upper }}
        </span>
        {% endif %}
    </div>

    <div class="profile-dropdown" id="profile-dropdown">
        <ul class="profile-dropdown-menu">
            <li class="profile-dropdown-item">
                <a href="{{ path('app_providers_profile', {id: id}) }}">
                    <div class="profile-dropdown-item-icon">
                        <div>
                        {% if name_image %}
                            <img src="{{ asset('assets/uploads/' ~ fichier ~ name_image) }}" alt="">
                        {% else %}
                            <span>
                                {{ app.user.userType == 'InternetUsers' ? app.user.internetUsers|slice(0, 1)|upper : app.user.providers|slice(0, 1)|upper }}
                            </span>
                        {% endif %}
                        </div>
                    </div>
                    <div class="profile-dropdown-item-link">
                        <p>{{ app.user.internetUsers ? app.user.internetUsers : app.user.providers }}</p>
                        <p>{{ app.user.email }}</p>
                    </div>
                </a>
            </li>
            <li class="profile-dropdown-item">
                <div class="profile-dropdown-item-link-profile">
                    <a href="{{ path('app_parameter_user_info', {id: id}) }}">Gérer votre compte</a>
                </div>
            </li>
            <li class="profile-dropdown-item">
                <a href="{{ path('app_newsletter') }}">
                    <div class="profile-dropdown-item-icon">
                        {{ include('svg/newsletter.html.twig') }}
                    </div>
                    <div class="profile-dropdown-item-link">
                        newsletter
                    </div>
                </a>
            </li>
            <li class="profile-dropdown-item">
                <a href="#">
                    <div class="profile-dropdown-item-icon">
                        {{ include('svg/contacter.html.twig') }}
                    </div>
                    <div class="profile-dropdown-item-link">
                        Nous contacter
                    </div>
                </a>
            </li>
            <li class="profile-dropdown-item">
                <a href="{{ path('app_logout') }}">
                    <div class="profile-dropdown-item-icon">
                        {{ include('svg/logout.html.twig') }}
                    </div>
                    <div class="profile-dropdown-item-link">
                        Se déconnecter
                    </div>
                </a>
            </li>
        </ul>
        <div class="profile-dropdown-footer">
            <a href="#">Règles de confidentialité</a>
            <span>&nbsp;•&nbsp;</span>
            <a href="#">Conditions d'utilisation</a>
        </div>
    </div>
{% else %}
    <div class="profile-button-container">

        {{ include('svg/profile.html.twig') }}
        
    </div>
{% endif %}