{% for internship in internships %}
{% set now = "now"|date('Y-m-d') %}
{% set displayUntil = internship.getDisplayUntilDate|date('Y-m-d') %}

{% if internship.providers.providerPhoto is defined %}
    {% set name_image = internship.providers.providerPhoto.name ? internship.providers.providerPhoto.name %}
{% endif %}

<div class="card-internship">
    {% if now > displayUntil %}
        <div class="sold-out">
            <img src="{{ asset('assets/uploads/sold-out.png') }}" alt="">
        </div>
    {% endif %}
    <div class="card-internship__header">
        <div class="card-internship__profile-image">
            {{ avatar_component(name_image, internship.providers, true) }}
        </div>
        <div class="card-internship__info">
            <div class="card-internship__details">
                <p class="card-internship__name">
                    {{ internship }}
                </p>
                <p class="card-internship__provider-name">
                    {{ internship.providers }}
                </p>
            </div>
            <div class="card-internship__socials">
                {% include "partials/_zone-socials.html.twig" with {providers: internship.providers} only %}
            </div>
        </div>
    </div>
    <div class="card-internship__content">
        <p class="card-internship__description">
            {{ internship.description|length > 90 ? internship.description|slice(0, 90) ~ '...' : internship.description }}
        </p>
        <button class="card-internship__button">
            <a href="#">{{ internship.rate }} €</a>
        </button>
    </div>
</div>
{% endfor %}