{% for provider in providers %}

    {% if provider.images is defined %}
        {% set name_image = provider.images.first ? provider.images.first %}
    {% endif %}

    <div class="card-provider-featured">
        <div class="provider-featured-info">
            <p class="provider-featured-name">
                {{ provider }}
            </p>
            <p class="provider-featured-service">
                {% if provider.promotion.first.service is defined %}
                    {{ provider.promotion.first.service }}
                {% endif %}
            </p>
            <div class="provider-featured-image">
                {% if name_image is defined %}
                    <img src="{{ asset('assets/uploads/providers/' ~ provider.images.first) }}" alt="">
                {% else %}
                    <span>{{ provider|slice(0, 1)|upper }}</span>
                {% endif %}
            </div>
        </div>
        <div class="provider-featured-details">
            <div class="provider-featured-social-icons">
                <a href="{{ provider.websiteUrl }}">{{ include('svg/websiteUrl.html.twig') }}</a>
                <a href="{{ provider.instagram }}">{{ include('svg/instagram.html.twig') }}</a>
                <a href="{{ provider.facebook }}">{{ include('svg/facebook.html.twig') }}</a>
                <a href="{{ provider.twitter }}">{{ include('svg/twitter.html.twig') }}</a>
            </div>
            <p class="provider-featured-description">
                {{ provider.description|length > 130 ? provider.description|slice(0, 130) ~ '...' : provider.description }}
            </p>
            <button class="provider-featured-service-button">
                <a href="">En savoir plus</a>
            </button>
        </div>
    </div>
{% endfor %}