{% for internship in internships %}

{% if internship.providers.images is defined %}
    {% set name_image = internship.providers.images.first.name ? internship.providers.images.first.name %}
{% endif %}

<div class="card-internship">
    <div class="card-internship__header">
        <div class="card-internship__profile-image">
            {% if name_image is defined %}
                <img src="{{ asset('assets/uploads/providers/' ~ name_image) }}" alt="">
            {% else %}
                <span>{{ internship.providers|slice(0, 1)|upper }}</span>
            {% endif %}
        </div>
        <div class="card-internship__info">
            <div class="card-internship__details">
                <p class="card-internship__name">
                    {{ internship }}
                </p>
                <p class="card-internship__provider-name">
                    {{ internship.providers }}
                </p>
            </div>
            <div class="card-internship__socials">
                {% if internship.providers.websiteUrl is defined %}
                    <a href="{{ internship.providers.websiteUrl }}">{{ include('svg/websiteUrl.html.twig') }}</a>
                {% endif %}
                {% if internship.providers.instagram is defined %}
                    <a href="{{ internship.providers.instagram }}">{{ include('svg/instagram.html.twig') }}</a>
                {% endif %}
                {% if internship.providers.facebook is defined %}
                    <a href="{{ internship.providers.facebook }}">{{ include('svg/facebook.html.twig') }}</a>
                {% endif %}
                {% if internship.providers.twitter is defined %}
                    <a href="{{ internship.providers.twitter }}">{{ include('svg/twitter.html.twig') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-internship__content">
        <p class="card-internship__description">
            {{ internship.description|length > 90 ? internship.description|slice(0, 90) ~ '...' : internship.description }}
        </p>
        <button class="card-internship__button">
            <a href="#">{{ internship.rate }} €</a>
        </button>
    </div>
</div>
{% endfor %}