{% for service in services %}
{% set now = "now"|date('Y-m-d') %}
{% set displayUntil = service.getDisplayUntilDate|date('Y-m-d') %}
{% if now > displayUntil %}
    {% set className = 'disabled' %}
{% else %}
    {% set className = '' %}
{% endif %}

{% if service.providers.providerPhoto is defined %}
    {% set name_image = service.providers.providerPhoto.name ? service.providers.providerPhoto.name %}
{% endif %}

    <div class="card-service {{ className }}">
        {% if now > displayUntil %}
            <div class="sold-out">
                <img src="{{ asset('assets/uploads/sold-out.png') }}" alt="">
            </div>
        {% endif %}
        <div class="card-service__header">
            <div class="card-service__profile-image">
                {% if name_image is defined %}
                    <img src="{{ asset('assets/uploads/providers/' ~ name_image) }}" alt="">
                {% else %}
                    <span>{{ service.providers|slice(0, 1)|upper }}</span>
                {% endif %}
            </div>
            <div class="card-service__info">
                <div class="card-service__details">
                    <p class="card-service__name">
                        {{ service.providers }}
                    </p>
                    <p class="card-service__service-name">
                        {% set array = [service.service.name] %}
                        
                        {% for otherService in service.providers.promotion %}
                            {% if otherService.service.name not in array %}
                                {% set array = array|merge([otherService.service.name]) %}
                            {% endif %}
                        {% endfor %}
                        
                        {% for row in array %}
                            <span>{{ row }}</span>
                        {% endfor %}
                    </p>
                    <p class="card-service__extra-info">
                        {{ service.name}}
                    </p>
                </div>
                <div class="card-service__socials">
                    {% if service.providers.websiteUrl is defined %}
                        <a href="{{ service.providers.websiteUrl }}">{{ include('svg/websiteUrl.html.twig') }}</a>
                    {% endif %}
                    {% if service.providers.instagram is defined %}
                        <a href="{{ service.providers.instagram }}">{{ include('svg/instagram.html.twig') }}</a>
                    {% endif %}
                    {% if service.providers.facebook is defined %}
                        <a href="{{ service.providers.facebook }}">{{ include('svg/facebook.html.twig') }}</a>
                    {% endif %}
                    {% if service.providers.twitter is defined %}
                        <a href="{{ service.providers.twitter }}">{{ include('svg/twitter.html.twig') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-service__content">
            <p class="card-service__description">
                {{ service.description|length > 90 ? service.description|slice(0, 90) ~ '...' : service.description }}
            </p>
            <button class="card-service__button">
                <a href="{{ path('app_services_description', {id: service.id}) }}" class=" {{ className }}">En savoir plus</a>
            </button>
        </div>
    </div>
{% endfor %}