{% for provider in providers %}

{% set name_image = false %}
{% if provider.providerPhoto is defined and provider.providerPhoto is not null %}
    {% set name_image = provider.providerPhoto.name ? provider.providerPhoto.name %}
{% endif %}

    <div class="card-provider">
        <div class="provider-profile">
            {{ avatar_component(name_image, provider, true) }}
        </div>

        <p class="provider-name">
            {{ provider }}
        </p>

        <p class="provider-mail">
            {{ provider.users.first }}
        </p>

        <p>
            {{ provider.promotion.first.service }}
        </p>
        
        <a href="{{ path('app_providers_profile', {id: provider.id}) }}" class="provider-button">Voir le prolfil</a>
    </div>
{% endfor %}