<header class="site-header">
    <div class="header-container">
        <div class="hamburger-menu" id="hamburger">
            <div class="hamburger-button">
                <div class="hamburger-item">
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="logo-container">
                <a href="{{ path('app_home') }}"><span>Bien</span><span>-</span>être</a>
            </div>
            <nav>
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_providers') }}">Prestataires</a>
                <a href="{{ path('app_services_defaut') }}">Services</a>
                <a href="{{ path('app_about_us') }}">About us</a>
                <a href="{{ path('app_newsletter') }}">Newsletter</a>
                <a href="#">Contact</a>
            </nav>
        </div>

        <div class="logo-container">
            <a href="{{ path('app_home') }}"><span>Bien</span><span>-</span>être</a>
        </div>

        <nav class="main-navigation">
            <div class="home-button">
                {{ include("svg/home.html.twig") }}
                <a href="{{ path('app_home') }}">Accueil</a>
            </div>

            {{ include("partials/_btn-dashbord.html.twig") }}

            <div class="services-button">
                {{ include("partials/_btn-services.html.twig") }}
            </div>

            <div class="providers-button">
                <a href="{{ path('app_providers') }}">
                    {{ include("svg/providers.html.twig") }}
                    <span>Providers</span>
                </a>
            </div>

            <div class="reg-button">
                {{ include('partials/_btn-reg-con.html.twig') }}
            </div>

            <div class="profile-button" id="profile">
                {{ include('partials/_btn-profile.html.twig') }}
            </div>
        </nav>
    </div>
</header>