{% extends 'base.html.twig' %}

{% block title %}Hello ServiceDescriptionController!{% endblock %}

{% set banner = "" %}
{% if promotions.service.images is defined and promotions.service.images is not null %}
    {% set banner =  asset('assets/uploads/services/' ~ promotions.service.images.name) %}
{% endif %}

{% set name_image = false %}
{% if promotions.providers.providerPhoto is defined and promotions.providers.providerPhoto is not null %}
    {% set name_image = promotions.providers.providerPhoto.name ? promotions.providers.providerPhoto.name %}
{% endif %}

{% block body %}
<main class="service-description">
    <section class="service-description__section">
        <div class="service-description__container">
            <div class="service-description__banner" style="background-image: url({{ banner }} );">
                <h1>{{ promotions.service.name }}</h1>
                <div class="service-description__profile-photo">
                    {{ avatar_component(name_image, promotions.providers, true) }}
                </div>
            </div>
            <div class="service-description__content-container">
                <div class="service-description__provider-info">
                    <h4 class="service-description__provider-name">{{ promotions.providers }}</h4>
                    <p class="service-description__service-name">{{ promotions }}</p>
                    <div class="service-description__social-icons">
                        {% include "partials/_zone-socials.html.twig" with {providers: promotions.providers} only %}
                    </div>
                    <p class="service-description__description">
                        {{ promotions.description }}
                    </p>
                </div>

                <a href="{{ path('app_providers_profile', {id: promotions.providers.id}) }}" class="service-description__contact-button">
                    Nous contacter
                </a>
                
                {% if promotions.documentPdf %}
                    <a href="{{ path('app_dashboard_download', {id: promotions.id}) }}" class="service-description__pdf-on">Telecharger PDF</a>
                {% else %}
                    <button class="service-description__pdf-off">Telecharger PDF</button>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="similar-providers">
        <div class="similar-providers__container">
            {% include "partials/_card-provider.html.twig" with {providers: providers, service: promotions.service.name} only %}
        </div>
    </section>
    <div class="providers-pagination">
        {{ knp_pagination_render(providers) }}
    </div>
</main>
{% endblock %}
