{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<main class="aboutpage">
    <section class="about_us" id="about">
        <div class="container">
            <nav class="about_us__nav">
                <a href="#about">About Us</a>
                <a href="#vision">Our Vision.</a>
                <a href="#approch">Our Approch.</a>
                <a href="#process">Our Process.</a>
                <a href="#team">Our Team.</a>
            </nav>
            <div class="about_us__content">
                <h2 class="titre">ABOUT US.</h2>
                <div class="about_us__text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur ut facere dignissimos soluta necessitatibus voluptatibus laborum eius inventore quos, fuga at sed, deserunt corporis, eos ducimus aspernatur? At, nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reprehenderit facilis voluptatibus quisquam atque sunt, aperiam, fugiat voluptas blanditiis eius ipsa quaerat sit doloremque, minus amet recusandae deserunt repellendus deleniti.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut praesentium earum ea, dicta obcaecati labore possimus, error, iure distinctio consectetur ab facere rem blanditiis fuga quibusdam ratione nisi esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam explicabo vitae delectus possimus commodi quia officiis! Mollitia harum, obcaecati, nostrum laudantium eveniet esse magni tempore assumenda illo quasi in. Recusandae!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet similique, ad quam, autem eligendi explicabo optio quis doloremque officia quasi error perspiciatis numquam fugiat tempore officiis debitis saepe possimus hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, iste voluptate repellendus odit reprehenderit culpa. Ipsam obcaecati, debitis tenetur, optio nisi eligendi sunt neque porro esse molestias id eius commodi!
                    </p>
                </div>
            </div>
            <div class="about_us__banner">
                <img src="{{ asset('assets/uploads/about/about3.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <section class="section" id="vision">
        <div class="container">
            <div class="content">
                <h2 class="titre">Our vision.</h2>
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur ut facere dignissimos soluta necessitatibus voluptatibus laborum eius inventore quos, fuga at sed, deserunt corporis, eos ducimus aspernatur? At, nemo.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut praesentium earum ea, dicta obcaecati labore possimus, error, iure distinctio consectetur ab facere rem blanditiis fuga quibusdam ratione nisi esse. 
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet similique, ad quam, autem eligendi explicabo optio quis doloremque officia quasi error perspiciatis numquam fugiat tempore officiis debitis saepe possimus hic. 
                    </p>
                </div>
            </div>
            <div class="banner">
                <img src="{{ asset('assets/uploads/about/about1.jpg') }}" alt="">
            </div>
        </div>
    </section>

    <section class="section" id="approch">
        <div class="container">
            <div class="banner">
                <img src="{{ asset('assets/uploads/about/about4.avif') }}" alt="">
            </div>
            <div class="content">
                <h2 class="titre">Our approch</h2>
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non, odit distinctio velit optio ullam facere consectetur quidem, aut officia quo assumenda beatae architecto doloribus maxime ratione nemo commodi amet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consequatur eligendi fugit rem? Similique quidem rerum, sequi veritatis quos molestiae, dolore neque dolorem iusto minus et in iste, dicta pariatur.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quod ipsum ipsam, eligendi quibusdam quidem ea vel tempore maxime corrupti, iste ratione cupiditate culpa earum necessitatibus aperiam fugit tempora eos!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="process">
        <div class="container">
            <div class="content">
                <h2 class="titre">Our Process.</h2>
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur ut facere dignissimos soluta necessitatibus voluptatibus laborum eius inventore quos, fuga at sed, deserunt corporis, eos ducimus aspernatur? At, nemo.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ut praesentium earum ea, dicta obcaecati labore possimus, error, iure distinctio consectetur ab facere rem blanditiis fuga quibusdam ratione nisi esse. 
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet similique, ad quam, autem eligendi explicabo optio quis doloremque officia quasi error perspiciatis numquam fugiat tempore officiis debitis saepe possimus hic. 
                    </p>
                </div>
            </div>
            <div class="banner">
                <img src="{{ asset('assets/uploads/about/about6.avif') }}" alt="">
            </div>
        </div>
    </section>

    <section class="team" id="team">
        <div class="container">
            <h2 class="titre">Our team.</h2>
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe rem soluta labore eius, voluptas harum id libero perferendis a doloremque? Provident, autem fugiat impedit nisi dignissimos ut modi esse eum.
                    Voluptatem ab porro facilis, laborum vel dolores rem excepturi natus suscipit voluptatum, temporibus omnis inventore aut laboriosam officia earum eos possimus doloremque ad nulla! Unde magni rem qui expedita magnam.
                </p>
            </div>
            <div class="gallery">
                <div class="items">
                    <div>
                        <img src="{{ asset('assets/uploads/about/about2.avif') }}" alt="">
                    </div>
                    <p>Nom complet</p>
                    <p>Nom du poste</p>
                </div>
                <div class="items">
                    <div>
                        <img src="{{ asset('assets/uploads/about/about5.avif') }}" alt="">
                    </div>
                    <p>Nom complet</p>
                    <p>Nom du poste</p>
                </div>
                <div class="items">
                    <div>
                        <img src="{{ asset('assets/uploads/about/about7.avif') }}" alt="">
                    </div>
                    <p>Nom complet</p>
                    <p>Nom du poste</p>
                </div>
                <div class="items">
                    <div>
                        <img src="{{ asset('assets/uploads/about/about9.avif') }}" alt="">
                    </div>
                    <p>Nom complet</p>
                    <p>Nom du poste</p>
                </div>
                <div class="items">
                    <div>
                        <img src="{{ asset('assets/uploads/about/about6.avif') }}" alt="">
                    </div>
                    <p>Nom complet</p>
                    <p>Nom du poste</p>
                </div>
                <div class="items">
                    <div>
                        <img src="{{ asset('assets/uploads/about/about8.avif') }}" alt="">
                    </div>
                    <p>Nom complet</p>
                    <p>Nom du poste</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}