<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/hamburger-btn.js') }}" defer></script>
            <script src="{{ asset('js/profile-btn.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% if list_categ is defined %}
            {{ include('partials/_header.html.twig') }}
        {% endif %}
        
        {% if app.user is not null and app.user.isVerified == false %}
            <section class="verif">
                Compte en attente de vérification 
                <a href="{{ path('app_resend_confirmation') }}" class="btn btn-primary">Renvoyer l'email de confirmation</a>
            </section>
        {% endif %}
    

        {% block body %}{% endblock %}
        {# {% if app.request.attributes.get('_route') == 'app_login' 
        or app.request.attributes.get('_route') == 'app_register'
        or app.request.attributes.get('_route') == 'app_parameter_user_info' %}
        {% else %}
            {% include "partials/_footer.html.twig" %}
        {% endif %} #}
    </body>
</html>
