{% if app.request.attributes.get('_route') == "app_dashboard_add" %}
    {% set path = path('app_dashboard_add', {type: currentType}) %}
    {% set actionName = 'Créer' %}
{% endif %}
{% if app.request.attributes.get('_route') == "app_dashboard_edit" %}
    {% set path = path('app_dashboard_edit', {id: form.vars.data.id, type: currentType}) %}
    {% set actionName = 'Éditer' %}
{% endif %}

<h4 class="dashboard__content-title">{{ actionName }} un {{ currentType }}</h4>

<form action="{{ path }}" method="post" enctype="multipart/form-data" class="dashboard__form">
    {% include "dashboard/_modal-errors.html.twig" with {form: form} only %}

    <div class="dashboard__form-group">
        {% if currentType == 'services' %}
        <p>
            {{ form_label(form.service, 'Choix du ' ~ currentType) }}
            {{ form_widget(form.service, {'attr': {'placeholder': 'Type de ' ~ currentType}}) }}
        </p>
        {% endif %}
        {% if currentType == 'stages' %}
        <p>
            {{ form_label(form.name, 'Choix du ' ~ currentType) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'Type de ' ~ currentType}}) }}
        </p>
        {% endif %}
        <p>
            {{ form_label(form.end_date, 'Fin du ' ~ currentType) }}
            {{ form_widget(form.end_date) }}
        </p>
        <p>
            {{ form_label(form.display_from_date, 'Promouvoir le ' ~ currentType) }}
            {{ form_widget(form.display_from_date) }}
        </p>
        <p>
            {{ form_label(form.display_until_date, 'Fin de la promotion')}}
            {{ form_widget(form.display_until_date) }}
        </p>
    </div>
    {% if currentType == 'services' %}
        <div class="dashboard__form-group">
            <p>
                {{ form_label(form.name, 'Titre') }}
                {{ form_widget(form.name) }}
            </p>
        </div>
    {% endif %}
    {% if currentType == 'stages' %}
        <div class="dashboard__form-group">
            {{ form_widget(form.rate, {'attr': {'placeholder': 'Prix'}}) }}
            {{ form_widget(form.additionalInformation, {'attr': {'placeholder': 'Informations additionnelle'}}) }}
        </div>
    {% endif %}
    <div class="dashboard__form-group">
        <p>
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description, {'attr': {'placeholder' : 'Description du ' ~ currentType, 'rows': '10', 'style': 'resize: none;'   }}) }}
        </p>
    </div>
    <div class="dashboard__form-actions">
        {% if currentType == 'services' %}
        <label for="promotions_form_documentPdf">
            {{ form_widget(form.documentPdf, {'attr': {'class': 'custom-file-input'}}) }}
        </label>
    {% endif %}
        {# <label for="">
            {{ form_widget(form.documentPdf, {'attr': {'class': 'custom-file-input'}}) }}
        </label> #}
        <button>Publier</button>
    </div>
    {{ form_widget(form._token) }}
</form>
