{% if app.request.attributes.get('_route') == "app_dashboard_add" %}
    {% set path = path('app_dashboard_add', {type: currentType}) %}
    {% set actionName = 'Créer' %}
{% endif %}
{% if app.request.attributes.get('_route') == "app_dashboard_edit" %}
    {% set path = path('app_dashboard_edit', {id: form.vars.data.id, type: currentType}) %}
    {% set actionName = 'Éditer' %}
{% endif %}

<h4 class="dashboard__content-title">{{ actionName }} un {{ currentType }}</h4>
<form action="" method="post" class="dashboard__form">
    {% if form_errors(form.end_date) %}
        <div class="modal active" id="modal-error-form">
            <div class="modal__container">
                <div>
                    <p>Error : </p>
                    {{ form_errors(form.end_date) }}
                    {{ form_errors(form.display_until_date) }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if form_errors(form.display_until_date) %}
        <div class="modal active" id="modal-error-form">
            <div class="modal__container">
                <div>
                    <p>Error : </p>
                    {{ form_errors(form.display_until_date) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="dashboard__form-group">
        {% if currentType == 'services' %}
        <p>
            {{ form_label(form.service, 'Choix du ' ~ currentType) }}
            {{ form_widget(form.service, {'attr': {'placeholder': 'Type de ' ~ currentType}}) }}
        </p>
        {% endif %}
        {% if currentType == 'stages' %}
        <p>
            {{ form_label(form.name, 'Choix du ' ~ currentType) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'Type de ' ~ currentType}}) }}
        </p>
        {% endif %}
        <p>
            {{ form_label(form.end_date, 'Fin du ' ~ currentType) }}
            {{ form_widget(form.end_date) }}
        </p>
        <p>
            {{ form_label(form.display_from_date, 'Promouvoir le ' ~ currentType) }}
            {{ form_widget(form.display_from_date) }}
        </p>
        <p>
            {{ form_label(form.display_until_date, 'Fin de la promotion du ' ~ currentType)}}
            {{ form_widget(form.display_until_date) }}
        </p>
    </div>
    {# {% if currentType == 'services' %} #}
    {# {% endif %} #}
    {# {% if currentType == 'stages' %}
        <div class="dashboard__form-group">
            {{ form_widget(form.name, {'attr': {'placeholder': 'Type de ' ~ currentType}}) }}

            {{ form_widget(form.end_date) }}
            {# {{ form_widget(form.display_until_date) }}
        </div>
    {% endif %} #}
    {% if currentType == 'services' %}
        <div class="dashboard__form-group">
            {{ form_label(form.name, 'Titre') }}
            {{ form_widget(form.name) }}
        </div>
    {% endif %}
    {% if currentType == 'stages' %}
        <div class="dashboard__form-group">
            {{ form_widget(form.rate, {'attr': {'placeholder': 'Prix'}}) }}
            {{ form_widget(form.additionalInformation, {'attr': {'placeholder': 'Informations additionnelle'}}) }}
        </div>
    {% endif %}
    <div class="dashboard__form-group">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'attr': {'placeholder' : 'Description du ' ~ currentType, 'rows': '10', 'style': 'resize: none;'   }}) }}
    </div>
    <div class="dashboard__form-actions">
        {# <label for="">
            {{ form_widget(form.documentPdf, {'attr': {'class': 'custom-file-input'}}) }}
        </label> #}
        <button>Publier</button>
    </div>
    {{ form_widget(form._token) }}
</form>
{{ dump() }}