{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}" defer></script>
    <script src="{{ asset('js/modal.js') }}" defer></script>
{% endblock %}

{% set name_image = false %}
{%  if app.user 
    and app.user.providers.providerPhoto is defined 
    and app.user.providers.providerPhoto is not null 
%}
    {% set name_image = app.user.providers.providerPhoto.name ? app.user.providers.providerPhoto.name %}
{% endif %}

{% block body %}
<main class="dashboard">
    {% if error is defined %}
        {% if error %}
            <div class="modal-error active" id="modal-error-dashboard">
                <div class="modal__container">
                    {{ error }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="dashboard__container">
        <section class="dashboard__profile-section">
            <div class="dashboard__profile-container">
                <div class="dashboard__profile-image">
                    {{ avatar_component(name_image, app.user.providers, true) }}
                </div>
            </div>
        </section>
        <section class="dashboard__content-section">
            <div class="dashboard__menu">
                <h4 class="dashboard__menu-title">Général</h4>
                <div class="dashboard__menu-items">
                    <a href="{{ path('app_dashboard', {id: app.user.providers.id, type: 'services'}) }}" class="{{ currentType == 'services' ? 'active': ''}}">
                        <span>Mes services</span>
                        {{ include('svg/add.html.twig') }}
                    </a>
                    <a href="{{ path('app_dashboard', {id: app.user.providers.id, type: 'stages'}) }}">
                        <span>Mes stages</span>
                        {{ include('svg/add.html.twig') }}
                    </a>
                </div>
            </div>
            <div class="dashboard__main-content">
                {% if listing is defined and listing is not null %}
                    {% include "dashboard/_table.html.twig" with {listing: listing, currentType: currentType} only %}
                {% endif %}

                {% if form is defined and form is not null %}
                    {% include "dashboard/_form.html.twig" with {form: form, currentType: currentType} only %}
                {% endif %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
