{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}" defer></script>
{% endblock %}

{%  if app.user 
    and app.user.providers.providerPhoto is defined 
    and app.user.providers.providerPhoto is not null 
%}
    {% set name_image = app.user.providers.providerPhoto.name ? app.user.providers.providerPhoto.name %}
{% endif %}

{% block body %}
<main class="dashboard">
    <div class="dashboard__container">
        <section class="dashboard__profile-section">
            <div class="dashboard__profile-container">
                <div class="dashboard__profile-image">
                    {% if name_image is defined and name_image is not null %}
                        <img src="{{ asset('assets/uploads/providers/' ~ name_image) }}" alt="">
                    {% else %}
                        <span>
                            {{ app.user.providers|slice(0, 1)|upper }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="dashboard__content-section">
            <div class="dashboard__menu">
                <h4 class="dashboard__menu-title">Général</h4>
                <div class="dashboard__menu-items">
                    <a href="{{ path('app_dashboard', {id: app.user.providers.id, type: 'services'}) }}">
                        <span>Mes services</span>
                        {{ include('svg/add.html.twig') }}
                    </a>
                    <a href="{{ path('app_dashboard', {id: app.user.providers.id, type: 'stages'}) }}">
                        <span>Mes stages</span>
                        {{ include('svg/add.html.twig') }}
                    </a>
                </div>
            </div>
            <div class="dashboard__main-content">
                {% if listing is defined and listing is not null %}
                    {% include "dashboard/_table.html.twig" with {listing: listing, currentType: currentType} only %}
                {% endif %}

                {% if form is defined and form is not null %}
                    {% include "dashboard/_form.html.twig" with {form: form, currentType: currentType} only %}
                {% endif %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
